
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
  --roboto: 'Roboto', sans-serif;
  --outfit: 'Outfit', sans-serif;
  --Russo: 'Russo One', sans-serif;
  --opacity: rgba(217, 217, 217, 0.2);
  --radius-15: 15px;
  --radius-10: 10px;
  --blue-background: rgba(9, 9, 121, 0.3);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --all-bg: rgba(217, 217, 217, 0.155);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* min-height: 100vh; */
}

#root {
  background: linear-gradient(180deg, #35425B 25.52%, #1E2023 100%);
  min-height: 100vh;

  font-family: var(--outfit);
}

input {
  border-radius: var(--radius-10);
  background-color: var(--all-bg);
  outline: none;
  margin: 1rem;
  padding: .3rem 1rem;
}

h2 {
  font-family: var(--outfit);
}

.nav-animate {
  transform: translateX(-100%);
  animation: slide 1.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.nav {
    @apply relative tracking-[1px];    
}
.nav::after {
  @apply content-[''] absolute bg-white h-[3px] w-0 left-0 -bottom-[5px] rounded-xl duration-500
}
.nav:hover::after {
  @apply w-full
}

button {
  border: 0;
  padding: 12px 40px;
  border-radius: var(--radius-10);

}

h1 {
  font-size: clamp(5vmin, 10vmin, 5vmin);
  font-family: var(--Russo);
}

.home {
  box-shadow: 3px 3px 20px 1px rgba(171,171,171,0.1);
  -webkit-box-shadow: 3px 3px 20px 1px rgba(171,171,171,0.1);
  -moz-box-shadow: 3px 3px 20px 1px rgba(171,171,171,0.1);

  transform: translateY(-100%);
  animation: slideDown 1.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

}

.sign-animation {
  /* transform: translateY(-300%);
  animation: slideDown 1.7s cubic-bezier(0.165, 0.84, 0.74, 1) forwards; */
}

@keyframes slideDown {
  to {
    transform: translateY(0);
  }
}
@keyframes slide {
  to {
    transform: translateX(0);
  }
}

.back {
  background: rgba(10, 73, 159, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(10, 73, 159, 0.13);
  /* padding-bottom: 7rem; */
}

.animate:hover {
  padding-right: 15px;
  transition: all .7s ease;
}

.top {
  background: rgba(98, 252, 206, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(10, 73, 159, 0.13);
  /* padding-bottom: 7rem; */
  min-height: 15rem;
  margin: 6rem 2.5rem 0;
}

.top_1 {
  background: rgba(10, 73, 159, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  min-height: calc(250px - 2rem);
}

.align {
  @apply flex flex-col items-center;
}

/* .home {
  background: lightblue;
  margin: 0 auto;
  border-radius: 8px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  width: 100%;
  height: 200px;
}
.home-img {
  object-fit: cover;
  height: inherit;
  width: 100%;
} */
